{% extends "base.html" %}
{% block main %}
<div class="sample">
    <h1>{{ nom }}</h1>
    <p>Titres créés :</p>
    <ul>
        {% for m in lMusic %}
        <li>{{ m }}</li>
        {% endfor %}
    </ul>    
</div>
{% endblock %}