{% extends "base.html" %}
{% block main %}
<div class="sample">
    <div class="row">
        {% for item in morceaux %}
            <div class="col-lg-3">
                <div class="card mb-4 shadow-sm">
                  <a href="{{ url_for('la_Musique', id_Musique=item.id_Musique) }}">{{item.titre}}</a>
                    <div class="card-body">
                      {%if item.img != None%}
                        <img src="../static/images/{{item.img}}" alt="Il n'y a pas d'image pour cette musique">
                      {% else %}
                        <p>Il n'y a pas d'image pour cette musique</p>
                      {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
