{% extends "base.html" %}

{% block main %}

<div class="horizontal">
  <h1>{{musique.titre}}</h1>
</div>

  <h5>{% if musique.artiste != None %}Musique de : <a href="{{ url_for('le_Artiste', id_Artiste = musique['id_Artiste']) }}">{{artiste.nom}}</a>{% else %}Il n'y a pas d'artiste pour cette chanson.{% endif %}</h5>
  <h5>Genres : {% if musique["genres"] != [] %} {% for g in musique["genres"] %}{{g}}, {% endfor %} {% else %} Cette musique n'a pas de genre connu. {% endif %}</h5>
  <h5>Sortie en : {{musique.date}}</h5>

  {% if musique.id_Musique > 1 %}
  <a class="btn btn-dark float-left" href="{{ url_for('la_Musique', id_Musique = musique['id_Musique'] - 1) }}">Précédente</a>
  {% endif %}
  <a class="btn btn-dark float-right" href="{{ url_for('la_Musique', id_Musique = musique['id_Musique'] + 1) }}">Suivante</a>

{% endblock %}
